{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" href="./images/ATMU LOGO 4.webp">

    <title>Matematika - Maruzalar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
            rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/slick.css' %}"/>

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>

<body>
<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="index.html">
            <strong><span>Boshlang'ich ta'limda</span> Matematika</strong>
          </a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'main:index' %}">Bosh Sahifa</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:subject' %}">Maruza</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:practical' %}">Amaliy mashg'ulot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:presentation' %}">Taqdimot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:video' %}">Videodars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:independent' %}">Mustaqil ishlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="test.html">Test</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <header
            class="site-header section__header-one section-padding d-flex justify-content-center align-items-center"
    >
        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">Matematikada</span>
                            <span class="d-block text-white">Maruzalar</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="products section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5 mt-4">Boshlang'ich Maruzalar</h2>
                </div>

                {% for i in subjects %}
                    {% if i.account_type == "E" %}
                        <div class="col-lg-3 col-12 mb-3">
                            <div class="product-thumb">
                                <img
                                        src="{{ i.img.url }}"
                                        class="img-fluid product-image"
                                        alt=""
                                />
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">{{ i.name }}</h5>
                                        <p class="product-p">{{ i.text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="col-12">
                    <h2 class="mb-5">Qo'shimcha Maruzalar</h2>
                </div>

                
                
                {% for i in subjects %}
                    {% if i.account_type == "A" %}
                        <div class="col-lg-3 col-12 mb-3">
                            <div class="product-thumb">
                                <img
                                        src="{{ i.img.url }}"
                                        class="img-fluid product-image"
                                        alt=""
                                />
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">{{ i.name }}</h5>
                                        <p class="product-p">{{ i.text }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-10 me-auto mb-4">
                <h4 class="text-white mb-3">
                    <a href="index.html">Boshlang'ich ta'limda</a> Matematika
                </h4>
            </div>

            <div class="col-lg-3 col-4 mt-2">
                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/Headroom.js' %}"></script>
<script src="{% static 'js/jQuery.headroom.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
